<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/bootstrap-theme.css">
    <title>demo</title>
    <script type="javascript" src="js/jquery-3.6.0.min.js"></script>
    <script type="javascript" src="js/bootstrap.js"></script>
</head>
<body style="padding-top: 200px;">
<div style="margin: 0 auto; width: 25%;">
    <form method="post" action="/login">
        <div style="text-align: center; color: red;"><p th:text="${errorMsg}"></p></div>
        <div class="form-group">
            <label for="username">用户名</label>
            <input type="text" class="form-control" id="username" name="username" placeholder="用户名">
        </div>
        <div class="form-group">
            <label for="password">密码</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="密码">
        </div>
        <div style="float: right">
        <button type="submit" class="btn btn-primary"> 登 录 </button>
        </div>
    </form>
</div>
</body>
</html>